---
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string;
  href: string;
  image: string;
}

const { href, title, description, image } = Astro.props;
---

<a href={href} class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
  <Image src={image} alt={title} width={400} height={200} />
  <div class="p-4">
    <h2 class="font-bold text-xl mb-2">{title}</h2>
    <p class="text-gray-700 text-base text-ellipsis line-clamp-4">
      {description}
    </p>

    <div class="px-6 pt-4 pb-2">
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >#example</span
      >
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >#tailwind</span
      >
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >#css</span
      >
    </div>
  </div>
</a>
